<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <title>Auto/Motorcycle Cristiano</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Auto/Motorcycle Cristiano</h1>
        <nav>
          <button
            type="button"
            class="border-none"
            id="home"
            onclick="openPrice()"
            aria-expanded="false"
            aria-controls="price-modal"
          >
            Price
          </button>
          <div id="price-modal" class="price">
            <div class="about-box">
              <div class="table_component" role="region" tabindex="0">
                <p>
                  &#128204; - Extra information. / &#127986; - Minium/Maxim.
                </p>
                <table>
                  <caption>
                    Brake
                  </caption>
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Price - Car</th>
                      <th>Price - Motorcycle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Disc</td>
                      <td>£ 35</td>
                      <td>£ 10</td>
                    </tr>
                    <tr>
                      <td>Pads</td>
                      <td>£ 35</td>
                      <td>£ 15</td>
                    </tr>
                    <tr>
                      <td>Shoes</td>
                      <td>£ 40</td>
                      <td>£ 20</td>
                    </tr>
                    <tr>
                      <td>Caliper</td>
                      <td>£ 80</td>
                      <td>£ 30</td>
                    </tr>
                    <tr>
                      <td>Fluid</td>
                      <td>£ 50</td>
                      <td>£ 30</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <caption>
                    Service
                  </caption>
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Price - Car</th>
                      <th>Price - Motorcycle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="tooltip">
                        Simple <span>&#128204;</span>
                        <span class="tooltiptext"
                          >Oil, oil filter, air filter and Levels</span
                        >
                      </td>
                      <td>£ 60 <i class="fa-thin fa-code"></i></td>
                      <td>£ 20</td>
                    </tr>
                    <tr>
                      <td class="tooltip">
                        Complete
                        <span
                          >&#128204;<span class="tooltiptext"
                            >Simple + full check (brake, tyres, other...)</span
                          ></span
                        >
                      </td>
                      <td>£ 120</td>
                      <td>£ 20</td>
                    </tr>
                    <tr>
                      <td>Parts</td>
                      <td>Not include</td>
                      <td>Not include</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <caption>
                    Suspension
                  </caption>
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Price - Car</th>
                      <th>Price - Motorcycle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Drop link</td>
                      <td>£ 50</td>
                      <td>---</td>
                    </tr>
                    <tr>
                      <td>Low arm</td>
                      <td>£ 100</td>
                      <td>---</td>
                    </tr>
                    <tr>
                      <td>Shock Absorber</td>
                      <td>£ 150</td>
                      <td>£ 60</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <caption>
                    Exhaust
                  </caption>
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Price - Car</th>
                      <th>Price - Motorcycle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Full</td>
                      <td class="tooltip">
                        £ 100 - £ 250 <span>&#127986;</span>
                        <span class="tooltiptext">Minium/Maximum</span>
                      </td>
                      <td class="tooltip">
                        £ 40 - £ 60
                        <span
                          >&#127986;
                          <span class="tooltiptext">Minium/Maximum</span>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>Peace</td>
                      <td class="tooltip">
                        £ 100 - £ 200 <span>&#127986;</span>
                        <span class="tooltiptext">Minium/Maximum</span>
                      </td>
                      <td>£ 40</td>
                    </tr>
                  </tbody>
                </table>
                <table>
                  <caption>
                    Diagnostic
                  </caption>
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Price - Car</th>
                      <th>Price - Motorcycle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Read</td>
                      <td>£ 30</td>
                      <td>---</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  <span>&#128680;</span> Other components only when text me and
                  you can explain what you need, I will return and find a best
                  price for your!
                </p>
                <p>
                  <span>&#128226;</span> Price may vary depending on the type
                  and difficulty of removing the component.
                </p>
                <p>
                  <span>&#128205;</span> The additional cost for home visits
                  will be £25 within Oxford and for over 3.5 miles a charge of
                  £1 per mile will apply.
                </p>
              </div>
              <button type="button" onclick="closePrice()" class="close-btn">
                Close
              </button>
            </div>
          </div>
          <button
            type="button"
            class="border-none"
            id="history"
            onclick="openHistory()"
          >
            History
          </button>
          <div id="history-modal" class="price">
            <div class="about-box">
              <h2>My History service</h2>
              <p>
                <strong>Veículo:</strong> <%= booking.tipoVeiculo || "N/A" %>
              </p>
              <p><strong>Placa:</strong> <%= booking.placa || "N/A" %></p>
              <p>
                <strong>Data:</strong> <%= booking.date ? new
                Date(booking.date).toLocaleString("pt-BR") : "Data não
                disponível" %>
              </p>
              <button type="button" onclick="closeHistory()" class="close-btn">
                Close
              </button>
            </div>
          </div>
          <button
            type="button"
            class="border-none"
            id="about"
            onclick="openAbout()"
          >
            About
          </button>
          <div id="about-modal" class="about">
            <div class="about-box">
              <h2>About Me</h2>
              <p>
                Hello! My name is Cristiano and I'm a Brazilian mechanic with
                over 7 years of experience, living in Oxford, UK.
              </p>
              <p>
                Certified and also an MOT Tester, I offer vehicle services at
                home and on-site (extra fees apply).
              </p>
              <p>
                Appointments are made directly here and I reply as fast as
                possible. I'm available two days a week due to a full-time job.
              </p>
              <p>
                I'm also studying website programming, I started in July/2023, I
                took advantage of some of this learning to set up this website.
              </p>
              <p>
                Below on the page is the contact link in case you have
                questions, suggestions, among others. I added a donation link to
                help with the studies. Anything you come up with will be
                welcome.
              </p>
              <p>
                I would like to thank you for your presence and I hope I can
                help you with whatever you need, whether it be with the vehicle
                or with any questions about the website. Thank you.
              </p>
              <button type="button" onclick="closeAbout()" class="close-btn">
                Close
              </button>
            </div>
          </div>
          <form action="/logout" method="get">
            <button type="submit">
              Logout
              <p id="customer"><%= user.name %></p>
            </button>
          </form>
        </nav>
      </header>
      <section>
        <div class="left">
          <div class="book">
            <p>Repair, Service, other</p>
            <button type="button" id="openFormBtn">BOOK HERE</button>
            <!-- FORMULÁRIO POPUP DE REPARO -->
            <div id="formOverlay" class="overlay">
              <div class="form-popup">
                <form id="repairForm">
                  <h2>Service request</h2>
                  <fieldset>
                    <legend>Customer data</legend>
                    <input
                      type="text"
                      name="name"
                      value="<%= user.name %>"
                      readonly
                    />
                    <input
                      type="email"
                      name="email"
                      value="<%= user.email %>"
                      readonly
                    />
                  </fieldset>

                  <fieldset>
                    <legend>Veiculo data</legend>
                    <div class="custom-select">
                      <select
                        name="tipoVeiculo"
                        title="Type of Veiculo"
                        required
                      >
                        <option value="">Vehicle type</option>
                        <option value="carro">Car</option>
                        <option value="moto">Motorcycle</option>
                        <option value="outro">Other</option>
                      </select>
                    </div>
                    <input
                      type="text"
                      name="placa"
                      placeholder="Plate number"
                      required
                    />
                  </fieldset>
                  <!-- Área de problemas -->
                  <div class="btns">
                    <button type="button" onclick="adicionarProblema()">
                      + Add Category
                    </button>
                  </div>

                  <div id="problemas">
                    <div class="problema">
                      <fieldset>
                        <legend>Type of service</legend>
                        <div class="custom-select">
                          <select name="categoria[]" title="Category" required>
                            <option value="">Category</option>
                            <option value="Brake">Brake</option>
                            <option value="Exhaust">Exhaust</option>
                            <option value="Service">Service</option>
                            <option value="Diagnostic">Diagnostic</option>
                            <option value="Part exchange">Part exchange</option>
                            <option value="Suspension">Suspension</option>
                            <option value="Other">Other</option>
                          </select>
                        </div>
                        <textarea
                          name="descricao[]"
                          placeholder="Service description"
                          required
                        ></textarea>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <div id="btns-send">
                  <button type="button" id="closeFormBtn">Cancel</button>
                  <button type="button" id="sendBtn">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <img src="/fhoto01.png" alt="image" id="imagem" />
        </div>
      </section>
      <footer>
        <div class="bottom">
          <div class="copy">
            <a
              href="https://copyright-ru.vercel.app/"
              target="_blank"
              rel="noopener"
              title="Logo Copyright"
            >
              <img src="/registered.png" alt="" />
            </a>
            <p>Copyright</p>
          </div>
          <div class="contact">
            <a
              href="mailto:cristiano.franca@hotmail.co.uk?subject=About%20repair%20my%20ve%C3%ADculo.&body=Auto%2FMotorcycle%20Cristiano.%0A%0A%0AHi%2C"
            >
              <img src="/email.png" alt="Email" />
            </a>
            <a
              href="https://donates.vercel.app/"
              target="_blank"
              rel="noopener"
            >
              <img src="donation.png" alt="Donate" />
            </a>
            <a class="whatsapp-button" id="openModal">
              <img src="whatsapp.png" alt="Whatapp" />
            </a>
            <div class="modal" id="modal">
              <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <h3>Send Message</h3>
                <input type="text" id="nome" placeholder="Your name" />
                <textarea
                  id="mensagem"
                  placeholder="Enter the message..."
                ></textarea>
                <button id="enviar" type="button">Send</button>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script>
      // imagem change
      const imagens = [
        "/fhoto01.png",
        "/fhoto02.png",
        "/fhoto03.png",
        "/fhoto04.png",
      ];

      let indice = 0;
      const img = document.getElementById("imagem");

      function trocarImagem() {
        // Aplica o fade-out
        img.classList.add("fade-out");

        // Espera o fade-out terminar antes de trocar a imagem
        setTimeout(() => {
          indice = (indice + 1) % imagens.length;
          img.src = imagens[indice];

          // Aplica o fade-in
          img.classList.remove("fade-out");
        }, 1000); // tempo deve ser igual ao transition no CSS
      }

      // Troca a imagem a cada 4 segundos
      setInterval(trocarImagem, 4000);

      // about

      const section = document.querySelector("section");

      const about = `
      <h1>About</h1>
     `;

      // whatsApp

      const openModal = document.getElementById("openModal");
      const modal = document.getElementById("modal");
      const closeModal = document.getElementById("closeModal");
      const enviar = document.getElementById("enviar");

      openModal.onclick = () => (modal.style.display = "flex");
      closeModal.onclick = () => (modal.style.display = "none");
      window.onclick = (e) => {
        if (e.target === modal) modal.style.display = "none";
      };

      enviar.onclick = () => {
        const nome = document.getElementById("nome").value.trim();
        const mensagem = document.getElementById("mensagem").value.trim();
        const numero = "4407927132927"; // <-- Coloque aqui o número com DDI e DDD

        if (!mensagem) {
          alert("Please, white a message.");
          return;
        }

        const texto = `Hi, my name is ${nome || "Anonym"}.\n${mensagem}`;
        const url = `https://wa.me/${numero}?text=${encodeURIComponent(texto)}`;

        window.open(url, "_blank");
      };

      //form book

      // Espera o DOM carregar antes de pegar os elementos
      document.addEventListener("DOMContentLoaded", () => {
        const openFormBtn = document.getElementById("openFormBtn");
        const closeFormBtn = document.getElementById("closeFormBtn");
        const formOverlay = document.getElementById("formOverlay");

        openFormBtn.addEventListener("click", () => {
          formOverlay.style.display = "flex"; // Mostra o popup
        });

        closeFormBtn.addEventListener("click", () => {
          formOverlay.style.display = "none"; // Fecha o popup
        });
      });

      function adicionarProblema() {
        const problemasContainer = document.getElementById("problemas");
        const repairForm = document.getElementById("repairForm");
        const novoProblema = document.createElement("div");
        const btns = document.getElementById("btns");
        novoProblema.classList.add("problema");
        novoProblema.innerHTML = `
        <fieldset>
        <legend>Type of service</legend>
        <button type="button" class="removerProblemaBtn" onclick="removerProblema(this)">X</button>
        <div class="custom-select">
        <select name="categoria[]" title="Category">
        <option value="">Category</option>
        <option value="Brake">Brake</option>
        <option value="Exhaust">Exhaust</option>
        <option value="Service">Service</option>
        <option value="Diagnostic">Diagnostic</option>
        <option value="Part exchange">Part exchange</option>
        <option value="Suspension">Suspension</option>
        <option value="Other">Other</option>
        </select>
        </div>
        <textarea name="descricao[]" placeholder="Service description"></textarea>
        </fieldset>
    `;
        // repairForm.appendChild(novoProblema);
        repairForm.insertAdjacentElement("beforeend", novoProblema);
      }

      function removerProblema(botao) {
        const divProblema = botao.parentElement;
        divProblema.remove();
      }

      // send form

      document.getElementById("sendBtn").addEventListener("click", async () => {
        const form = document.getElementById("repairForm");
        const formData = new FormData(form);

        const data = {
          name: formData.get("name"),
          email: formData.get("email"),
          tipoVeiculo: formData.get("tipoVeiculo"),
          placa: formData.get("placa"),
          servicos: [],
        };

        const categorias = formData.getAll("categoria[]");
        const descricoes = formData.getAll("descricao[]");

        for (let i = 0; i < categorias.length; i++) {
          data.servicos.push({
            categoria: categorias[i],
            descricao: descricoes[i],
          });
        }

        try {
          const response = await fetch("/book", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(data),
          });

          const result = await response.text();
          alert(result); // ou exibir bonitinho na tela
          form.reset(); // limpa formulário se quiser
          document.getElementById("formOverlay").style.display = "none";
        } catch (err) {
          console.error("❌ Erro ao enviar:", err);
          alert("Erro ao enviar agendamento");
        }
      });

      // about

      function openAbout() {
        document.getElementById("about-modal").style.display = "flex";
      }

      function closeAbout() {
        document.getElementById("about-modal").style.display = "none";
      }

      // Price

      function openPrice() {
        document.getElementById("price-modal").style.display = "flex";
      }

      function closePrice() {
        document.getElementById("price-modal").style.display = "none";
      }

      // Hystory

      function openHistory() {
        document.getElementById("history-modal").style.display = "flex";
      }

      function closeHistory() {
        document.getElementById("history-modal").style.display = "none";
      }
    </script>
  </body>
</html>
